### Hello 👋 😀 my name is {{name}} and today is {{date}}.

- I am a frontend web developer with full stack experience.
- I am currently available for work.
- You can read more about me [here](https://sethhallcreative.com/).
<br>

### Technical Skills 💻

<p>
  Front End:
  <br>
  <img alt="HTML5" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white" />

  <img alt="CSS" src="https://img.shields.io/badge/-CSS-1c4fd8?style=flat-square&logo=css3&logoColor=white" />

  <img alt="Javascript" src="https://img.shields.io/badge/-Javascript-fbbf24?style=flat-square&logo=javascript&logoColor=white" />

  <img alt="React" src="https://img.shields.io/badge/-React-45b8d8?style=flat-square&logo=react&logoColor=white" />

  <img alt="NextJS" src="https://img.shields.io/badge/-NextJS-000000?style=flat-square&logo=next-dot-js&logoColor=white" />

  <img alt="Vue" src="https://img.shields.io/badge/-Vue-16b981?style=flat-square&logo=vue-dot-js&logoColor=white" />

  <img alt="Testing" src="https://img.shields.io/badge/-Testing-FB0043?style=flat-square" />

  <img alt="Performance" src="https://img.shields.io/badge/-Performance-1B6277?style=flat-square" />

  <img alt="Accessibility" src="https://img.shields.io/badge/-Accessibility-23977B?style=flat-square" />
</p>

<p>
  Styling:
  <br>
  <img alt="TailwindCSS" src="https://img.shields.io/badge/-TailwindCSS-0c91b1?style=flat-square&logo=tailwind-css&logoColor=white" />

  <img alt="Sass" src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white" />

  <img alt="Styled Components" src="https://img.shields.io/badge/-Styled_Components-db7092?style=flat-square&logo=styled-components&logoColor=white" />

  <img alt="Bootstrap" src="https://img.shields.io/badge/-Bootstrap-7951b3?style=flat-square&logo=bootstrap&logoColor=white" />

  <img alt="Chakra UI" src="https://img.shields.io/badge/-Chakra UI-66c9cc?style=flat-square&logo=chakra-ui&logoColor=white" />

  <img alt="Material UI" src="https://img.shields.io/badge/-Material UI-0081CB?style=flat-square&logo=material-ui&logoColor=white" />
<p/>

<p>
  Serverless/Database:
  <br>
  <img alt="Jamstack" src="https://img.shields.io/badge/-Jamstack-db2877?style=flat-square&logo=jamstack&logoColor=white" />

  <img alt="CMS" src="https://img.shields.io/badge/-CMS-AE58CD?style=flat-square" />

  <img alt="Firebase" src="https://img.shields.io/badge/-Firebase-f59e0b?style=flat-square&logo=firebase&logoColor=white" />

  <img alt="AWS Amplify" src="https://img.shields.io/badge/-AWS Amplify-FF9900?style=flat-square&logo=aws-amplify&logoColor=white" />

  <img alt="Serverless" src="https://img.shields.io/badge/-Serverless-ea580e?style=flat-square&logo=severless&logoColor=white" />

  <img alt="APIs" src="https://img.shields.io/badge/-APIs-5046e4?style=flat-square" />

  <img alt="SQL" src="https://img.shields.io/badge/-SQL-000000?style=flat-square" />

  <img alt="GraphQL" src="https://img.shields.io/badge/-GraphQL-E10098?style=flat-square&logo=graphql&logoColor=white" />
</p>

<p>
  Team Collaboration:
  <br>
  <img alt="Agile" src="https://img.shields.io/badge/-Agile-0C6DA9?style=flat-square" />

  <img alt="Jira" src="https://img.shields.io/badge/-Jira-0252cc?style=flat-square&logo=jira&logoColor=white" />

  <img alt="Slack" src="https://img.shields.io/badge/-Slack-4A154B?style=flat-square&logo=slack&logoColor=white" />

  <img alt="VS Code" src="https://img.shields.io/badge/-VS Code-007ACC?style=flat-square&logo=visual-studio-code&logoColor=white" />

  <img alt="Git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />

  <img alt="GitHub" src="https://img.shields.io/badge/-GitHub-181717?style=flat-square&logo=github&logoColor=white" />

  <img alt="Figma" src="https://img.shields.io/badge/-Figma-F24E1E?style=flat-square&logo=figma&logoColor=white" />

  <img alt="Adobe XD" src="https://img.shields.io/badge/-Adobe XD-FF61F6?style=flat-square&logo=adobe-xd&logoColor=white" />
</p>
<br>

I live and work remotely in the great state of [North Carolina](https://www.wikiwand.com/en/North_Carolina). 😎 💻

<p><img width="200" src="{{img1}}" /> <img width="200" src="{{img2}}" /> <img width="200" src="{{img3}}" /></p>

Today's weather is <b>{{city_temperature}}°C</b> with <b><i>{{city_weather}}</i></b> and the ☀️ rises at <b>{{sun_rise}}</b> and sets at <b>{{sun_set}}</b>.</p>

A big thanks to [@thmsgbrt](https://github.com/thmsgbrt) for [this great post](https://medium.com/swlh/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91)!